@font-face {
  font-family: fortnite;
  src: url(fortnite.otf);
}

.formMatchLeague-container {
  font-family: fortnite;
  background-color: #fbd735;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

.formMatchLeague-container label {
  font-size: 40px;
}

.formMatchLeague-container input, .formMatchLeague-container select {
  width: 175px;
  height: 40px;
  font-size: 1.5em;
  font-family: fortnite;
  border: 2px solid;
  border-radius: 5px;
  text-align: center;
}

.formMatchLeague-container input:focus, .formMatchLeague-container select:focus {
  outline: none;
}

.formMatchLeague-container select {
  text-align-last: center;
}

.formMatchLeague-container table {
  border-spacing: 15px;
}

.formMatchLeague-btn {
  font-family: fortnite;
  display: block;
  background-color: #35414f;
  text-align: center;
  color: #fff;
  width: 150px;
  height: 50px;
  font-size: 1.75em;
  transform: skew(-10deg);
  box-shadow: 2px 8px 12px -4px rgba(0, 0, 0, 0.5);
  padding-top: 6px;
  cursor: pointer;
  margin: 10px auto;
  border: none;
  text-align: center;
}

.formMatchLeague-btn:focus {
  outline: none;
}

.formMatchLeague-btn:active {
  box-shadow: none;
  outline: none;
}
