@font-face {
  font-family: fortnite;
  src: url(fortnite.otf);
}


.navigation-container{
  background-color: #fbd735;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

.navigation-img{
  padding: 5px;
  transition: 0.5s;
  margin: 5px;
  box-shadow: 0 0 10px 1px black;
  width: 30%;
  height: 70%;
}

.navigation-img img{
  transition: 0.5s;
  width: 90%;
  height: auto;
  margin: 0 5%;
}

.navigation-img:active{
  background-color: rgba(53,65,79,0.4);
}


/*.navigation-img img:hover{
  width: 400px;
  height: 400px;
}*/

.navigation-img:hover{
  width: 400px;
  height: 626px;
}


.navigation-data{
  font-family: fortnite;
  text-align: center;
  margin: 0 auto;
  padding: 0 10px;
  display: table;
}

.navigation-data p{
  max-width: 250px;
  vertical-align: middle;
  color: #fff;
  font-size: 25px;
  text-shadow: 0 0 3px black;
}

.navigation-data h1{
  font-size: 50px;
  margin: 0;
}

.navigation-title-description{
  display: table-cell;
}
